# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Config files with sensitive information
config/*.yaml
config/*.pem
.env

# Local log files
log/*.log

# Local recipe files
recipes/*

# Ignore .DS_Store files and other Mac-specific files
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store